body {background-color: rgb(255, 208, 232);
    font-family:Arial, Helvetica, sans-serif; 
}

nav {background-color: rgba(240, 248, 255, 0);margin-bottom: 2em;}

nav ul {list-style: none; margin: 0%; padding: 0%; }

nav ul li {display:inline-block; width: 30%;}

nav ul li a {
    color: rgba(248, 5, 187, 0.705);
    text-decoration:underline;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em
}

nav ul line a.activo{background-color: rgb(228, 198, 255);}


.holder {width: 960px; margin:0 auto; }

#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.075s ease;
    height: 500px;
    width: 300%;
}
#carrusel-contenido {
    margin: auto;
    overflow:hidden ;
    text-align:center;
}
.imagenes{
    height: 500px;
    width: 200%;
}
.carrusel-elemento {
    float:left ;
    width: 33.333%;
}
@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;   }

        35% {
            margin-left: -100%;
        }
        65% {
            margin-left: -100%;
        }
        70% {
            margin-left: -200%;
        }
        95% {
            margin-left: -200%;
        }
        100% {
            margin-left: 0;
        }
    
    
}

#carrusel-caja1 {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.075s ease;
    height: 500px;
    width: 300%;
}
#carrusel {
    margin: auto;
    overflow:hidden ;
    text-align:center;
}

.carrusel-imagen {
    float:left ;
    width: 33.333%;
}
@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;   }

        35% {
            margin-left: -100%;
        }
        65% {
            margin-left: -100%;
        }
        70% {
            margin-left: -200%;
        }
        95% {
            margin-left: -200%;
        }
        100% {
            margin-left: 0;
        }

        footer {clear: both; color: black; padding: 4em 0; margin-top: 3em; text-align:center }